/* TODO: Make it awesome */

header h1{
    text-align: center;
    font-size: 35px;
}
body{
    background-color: grey;

}

nav li{
    background-color: whitesmoke;
    display: inline-block;
    font-size: 20px;
    margin-left: 25px;

}

body li{
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 25px;
}

body form{
    text-align: center;
}
footer{
    text-align: center;
}